* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content:space-evenly;
  max-height: 50px;
}

button {
  max-height: 30px;
  padding: 5px;
}

.headingTitle {
  color: rgb(230, 119, 119);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-height: 70px;
  font-size: 40px;
}

.grid {
  display: flex;
  justify-content: center;
}

.gridSquares {
  display: grid;
  width: 800px;
}

.square {
  display: flex;
  flex: 1;
  box-shadow: 0 0 0 1px black inset;
  background-color: white;
}

.footer {
  max-height: 50px;
}



